<section class="intro-em group" role="main">
   <h2>About</h2>
   <p>HTML5.tx is the premier event for web designers, developers and technologists in Texas. Our <a href="http://2011.html5tx.com">inaugural event</a> was held in Austin in 2011, and the second edition is slated for Feb 2nd, 2013. Check out last year's <a href="https://vimeo.com/36094284">promo video</a> to get a preview of what's in store for 2013.</p>
   <p>HTML5.tx is a place for designers and developers of all disciplines and backgrounds to learn from web experts and each other about HTML, CSS, JavaScript and the future of the web. All are welcome. If you love the web, you can expect to be surrounded with some of the best web-heads in Texas and beyond.</p>
</section>
<div class="group" role="main">
   <section class="column frame content-frame">
      <h2>Event Information</h2>
      <p>HTML5.tx will feature a great line-up of speakers, workshops, social events, and people from most of the web technologies out there. You don't want to miss it.</p>
      <p>The conference will be Saturday, February 2nd, 2013, from 8 a.m. to 5 p.m. at St. Edward's Ragsdale Center and will cost $99. Sessions will be offered in both &quot;Getting Started&quot; and &quot;Digging Deeper&quot; tracks. We'll also  bring back last year's popular Open Spaces sessions, so if group discussion is more your style, we'll have plenty of that, too! Regardless of your comfort with the web, you'll find content just right for you.</p>
      <p>For 2013, we're excited to offer, in addition to the conference, in-depth CSS and JavaScript workshops from industry experts <a href="http://lanyrd.com/profile/pamelafox/">Pamela Fox</a> and <a href="http://lanyrd.com/profile/estellevw/">Estelle Weyl</a>. When you purchase tickets, you can choose just the Saturday conference, one or both of the workshops&mdash;or any combination of the three.</p>
	  <h2>Schedule</h2>
	  <h3>Friday (2/1) - Capital Factory</h3>
	<p>If you bought a ticket to the CSS Workshop with Estelle Weyl:<br />
	8:30 am, Check in.<br />
	9:00 am - 4:30 pm, Training; lunch is provided.</p>

	<p>For all conference attendees:<br />
	7:00 pm - 10:00 pm, Pre-Event Social, with snacks and beverages.</p>

	<h3>Saturday (2/2) - St. Edward's University, Ragsdale Center</h3>
	<p>If you bought a Conference Day ticket:<br />
	7:30 am, Check in.<br />
	8:00 am, Welcome and Opening Circle.<br />
	9:00 am - 5:30 pm, Conference Sessions and Open Spaces; lunch is provided.</p>

	<h3>Saturday evening - Capital Factory</h3>
	<p>For all conference attendees:<br />
	6:30 pm - 10:00 pm, Hacky Hour and Party, dinner is provided.</p>

	<h3>Sunday (2/3) - Capital Factory</h3>
	<p>If you bought a ticket to the JavaScript Workshop with Pamela Fox:<br />
	9:30 am, Check in.<br />
	10:00 am - 5:00 pm, Training; lunch is provided.</p>
   </section>
   <section class="column last">
      <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=St.+Edward's+University+Ragsdale+Center+Austin,+TX&amp;aq=&amp;sll=31.168934,-100.076842&amp;sspn=17.815351,28.54248&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Ragsdale+Center,+Moody,+Austin,+Texas+78704&amp;ll=30.22947,-97.756525&amp;spn=0.006227,0.006968&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      <div class="column">
         <h2>Locations</h2>
         <p><a href="http://www.stedwards.edu/map/maincampus">St. Edward's University,<br />Ragsdale Center</a><br />
		 Saturday Conference Day<br />
		 3001 South Congress Ave.<br />
         Austin, Texas 78704<br />
         512-448-8400</p>
		 <p><a href="http://www.capitalfactory.com/">Capital Factory</a><br />
		 Friday and Sunday workshops, Saturday evening party<br />
		 701 Brazos Street<br />
		 Suite 1601<br />
		 Austin, TX  78701</p>
		 <p><strong>Getting to Capital Factory:</strong> Capital Factory is a co-working space on the 16th floor of the building that houses the Omni Hotel. You might want to <a href="http://www.capmetro.org/metrorail.aspx?id=312">take the MetroRail train to the Downtown station</a> or use the <a href="http://www.capmetro.org/planner/">CapMetro trip planner to find a convenient bus</a>.</p>
		 <p>On Saturday, you'll want to travel from the conference at St. Edward's University to the party at Capital Factory. Two bus lines make that a convenient trip: 1L and 1M. The bus costs $1 each way, they run until midnight on Saturday, and they solve the question of parking downtown.</p>
      </div>
      <div class="column">
         <h2>Want to Register?</h2>
         <p><a href="http://html5tx.thundertix.com/">Get your ticket now!</a></p>
         <h2>Sponsorship Opps</h2>
         <p>Send us an email.</p>
         <p><a href="mailto:sponsorship@html5tx.com">sponsorship@html5tx.com</a></p>
      </div>
   </section>
</div>