<div class="intro group" role="main">
   <h2>Blog &amp; News</h2>
   <p>From time-to-time, we'll post important news and updates related to HTML5.tx here. If you have any direct questions for us, please <a href="/pages/contact">visit our contact page</a>.</p>
</div>
<div class="group" role="main">
   <section class="column column-em">
      <div class="frame content-frame">
         <h3>HTML5.tx 2013 is Sold Out!</h3>
         <p>01.28.2013</p>
         <p>This year's HTML5.tx conference is officially sold out! Thanks to everyone who bought a ticket to the conference and workshops.</p>
         <p>If you happen to have a ticket you no longer need, please let us know by emailing <a href="mailto:event@html5tx.com">event@html5tx.com</a> and we'll try to match you with someone in need of one. Unfortunately, we're not able to offer refunds at this time.</p>
         <p>See you this weekend!</p>
      </div>
      
      
      <div class="frame content-frame">
         <h3>Tickets Are On Sale Now!</h3>
         <p>10.24.2012</p>
         <p>We are happy to announce that tickets for HTML5.tx 2013 are available now! To get your ticket, head on over to <a href="http://html5tx.thundertix.com/">html5tx.thundertix.com</a>!
         For this year's event, we've added two full-day training classes, book-ended to the conference. On Friday, Estelle Weyl will be delivering her popular <a href="http://lanyrd.com/2013/html5tx/szcdh/">CSS3: From Novice to Ninja</a> course, while on Sunday, Pamela Fox will be delivering an <a href="http://lanyrd.com/2013/html5tx/szcdm/">Advanced JavaScript</a> training course. Each class is $149 as a standalone purchase, and the three-day conference and training class is $349.</p>
         <p>HTML5.tx is going to be bigger and better this year, and we hope you'll <a href="http://html5tx.thundertix.com/">join us</a>!</p>
      </div>
      <div class="frame content-frame">
         <h3>Call for Proposals is Open!</h3>
         <p>09.27.2012</p>
         <p>By Jeff Carouth. Cross-posted from <a href="http://carouth.com/blog/2012/09/7/html5-dot-tx-2013-cfp-is-open">carouth.com/blog/2012/09/7/html5-dot-tx-2013-cfp-is-open</a></p>
         <p>Last year I was one of the volunteers that helped organize HTML5.tx 2011 in Austin, Texas. The event was very successful and I couldn’t have been more proud to have played a part in it.</p>
         <p>We are putting on the next edition of the conference-–it will take place on February 2, 2013-–and I am pleased to announce the Call for Proposals is now open for your submissions. This year we have several speakers that are already committed to speak at the event and we have saved slots for you to speak. We want to hear from the community so this is your chance.</p>
         <p>Submissions will be accepted starting today and running through October 28, 2012 at 11:59:59 p.m. Submit as many proposals as you’d like. We have reserved slots for full sessions (50 minutes in length) and are introducing a new format this year composed of three 10-minute talks back to back. This is a play on “lightning talks” and is aimed to give new presenters an opportunity to give a less stressful session on a more focused topic. However, if you’re an experienced speaker with a great idea for a 10-minute talk, please submit one.</p>
         <p>Along the lines of wanting to encourage new presenters, this year we want to offer a sort-of mentorship opportunity. Members of the HTML5.tx organizer team have volunteered to help mentor any speaker that might wish to speak at the event but needs a little help developing his or her topic or slides. We will be available for questions or to review anything you might need help with. Please don’t let fear keep you from submitting a proposal.</p>
         <p>I can't wait to see what you want to talk about. Submit today at <a href="http://bit.ly/cfp-2013">http://bit.ly/cfp-2013</a>.</p>
      </div>
      <div class="frame content-frame">
         <h3>Registration, Call for Speakers, and More</h3>
         <p>09.17.2012</p>
         <p>Now that the website is up and running, we're working hard to finalize some additional details for the 2013 event. In particular, we can tell you that the full-day conference will be $99, and registration will be open in the next couple of weeks. One of our sponsors, ThunderTix, has graciously offered to host our event registration this year, but we still have some work to do on our end in order to get things properly set up.</p>
         <p>On the speaker front, you may have noticed that we've listed a few speakers for the 2013 event on our home page. We've already contacted several awesome folks about melting out brains with their expertise this time around, but that doesn't mean we don't have room for you! In the next week, we'll be opening up our CfP, and we'd love to hear about the awesome stuff you want to share. Of course, if casual is more your style, we'll also be bringing back open spaces this year, so get those topics ready!</p>
         <p>New to HTML5.tx this year will be two full-day CSS and JavaScript training classes offered by a couple of our killer speakers. Tickets for these will be offered separately and in combo-packs with the main event, and will go on sale when full registration opens in a few weeks. We're still hammering out details for the location and price, but stay tuned for updates here.</p>
      </div>
      <div class="frame content-frame">
         <h3>The New HTML5.tx Site is Live!</h3>
         <p>09.16.2012</p>
         <p>Today, we launched the new, re-branded HTML5.tx! Our design partners at Drifting Creatives did an amazing job once again this year, and we're really excited to share the "look and feel" of our 2013 event with you.</p>
         <p>For our next iteration of HTML5.tx, we wanted to focus on both the growth and promise of HTML5, as well as its promise for a utopian or dystopian future, depending on who's hype you choose to believe. Those of us who love the web and make our living on it certainly believe in HTML5, but the question still remains: what does the future of the web really look like?</p>
         <p>HTML5.tx 2013 will be about exactly that: how this movement called HTML5 affects us all: developer to designer; Front-ender to back-ender; and from the desktop to the mobile device. We hope you'll join us on February 2nd, 2013 to embrace and explore the future of the web.</p>
      </div>
   </section>
   <section class="column last column-deem content-frame">
      <h2>Important Info</h2>
      <p>HTML5.tx is the premier event for web designers, developers and technologists in Texas. Our <a href="http://2011.html5tx.com/">inaugural event</a> was held in Austin, in 2011 and the second edition is slated for Feb 2nd, 2013. Check out the <a href="https://vimeo.com/36094284">promo video</a> for a recap of last year's event, and to get a preview of what's in store for 2013.</p>
   </section>
</div>