<section class="masthead inner clearfix">
   <div class="inner-content">
      <h2>Contact</h2>
      <p>Maybe you have some questions? Maybe we can help.</p>
      <p>Interested in sponsoring? email us: <a href="mailto:sponsorship@html5tx.com">sponsorship@html5tx.com</a></p>
   </div>
</section>
<section class="inner clearfix">
   <div class="left-half inner-content footered">
      <form>
         <p>
            <label for="name">Name</label>
            <input id="name" name="name" maxlength="48" required="required" type="text" />
         </p>
         <p>
            <label for="email">E-mail</label>
            <input id="email" name="email" maxlength="48" required="required" type="email" />
         </p>
         <p>
            <label class="textarea" for="message">Message</label>
            <textarea id="message" name="message"></textarea>
         </p>
         <button type="submit">Submit</button>
      </form>
   </div>
   <div class="right-half">
      <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Torchy's+Tacos,+Spicewood+Springs+Road,+Austin,+TX&amp;aq=4&amp;oq=Torchy's&amp;sll=30.307761,-97.753401&amp;sspn=0.758781,1.454315&amp;ie=UTF8&amp;hq=Torchy's+Tacos,+Spicewood+Springs+Road,+Austin,+TX&amp;t=m&amp;ll=30.370657,-97.756352&amp;spn=0.019254,0.032015&amp;output=embed"></iframe>
   </div>
</section>