    <section class="masthead clearfix">
        <div class="callout">
            <p>With over 150 sessions to choose from, your head will eventually start to overheat. Cool off in one of the many nearby pools, because unlike your traditional technology conference, you will be camping at a giant indoor waterpark. This conference will pwn face.</p>
            <a href="http://www.contactme.com/4e072425829ac6000101978e" class="button" target="_new">JOIN</a>
        </div>

        <div class="callout">
            <p><b>HTML5.TX</b></p>
            <p><b>February 02, 2013</b></p>
            <p><b>AUSTIN, TEXAS</b></p>
            <p>A web conference for awesome people.</p>
            <a href="mailto:sponsorship@html5tx.com" class="button">Sponsor</a>
        </div>
    </section>
    <!-- .masthead -->
    <section class="mid clearfix">
        <div class="play-wrapper">
            <a class="play-button" href="#">&nbsp;</a> 
            <div class="play-cog"></div>
        </div>
    </section>
    <!-- .mid -->
    <section class="speakers">
        <div class="speaker-wrap hover">
            <figure>
                <img src="/assets/_img/s/speaker.png" 
                    data-m-src="/assets/_img/m/speaker.png" 
                    data-l-src="/assets/_img/l/speaker.png">
                <span class="static"></span>
            </figure>
            <span class="name">Frank Smith</span>
            <span class="title">CEO of RADICAL AWESOME WEB 2.0</span>
            <div class="big-cog"></div>
        </div>
        <div class="speaker-wrap">
            <figure>
                <img src="/assets/_img/s/speaker.png" 
                    data-m-src="/assets/_img/m/speaker.png" 
                    data-l-src="/assets/_img/l/speaker.png">
                <span class="assets/_img"></span>
            </figure>
            <span class="name">Frank Smith</span>
            <span class="title">CEO of RADICAL AWESOME WEB 2.0</span>
            <div class="big-cog"></div>
        </div>
        <div class="speaker-wrap">
            <figure>
                <img src="/assets/_img/s/speaker.png" 
                    data-m-src="/assets/_img/m/speaker.png" 
                    data-l-src="/assets/_img/l/speaker.png">
                <span class="static"></span>
            </figure>
            <span class="name">Frank Smith</span>
            <span class="title">CEO of RADICAL AWESOME WEB 2.0</span>
            <div class="big-cog"></div>
        </div>
        <div class="speaker-wrap">
            <figure>
                <img src="/assets/_img/s/speaker.png" 
                    data-m-src="/assets/_img/m/speaker.png" 
                    data-l-src="/assets/_img/l/speaker.png">
                <span class="static"></span>
            </figure>
            <span class="name">Frank Smith</span>
            <span class="title">CEO of RADICAL AWESOME WEB 2.0</span>
            <div class="big-cog"></div>
        </div>
    </section>
    <!-- .speakers -->
    <section class="sponsors">
        <div class="sponsor">
            <figure>
                <img src="//placehold.it/150x105/5a3805/94723f&text=small-sponsor"
                    data-m-src="//placehold.it/300x200/5a3805/94723f&text=medium-sponsor"
                    data-l-src="//placehold.it/400x250/5a3805/94723f&text=large-sponsor">
            </figure>
        </div>
        <div class="sponsor">
            <figure>
                <img src="//placehold.it/150x105/5a3805/94723f&text=small-sponsor"
                    data-m-src="//placehold.it/300x200/5a3805/94723f&text=medium-sponsor"
                    data-l-src="//placehold.it/400x250/5a3805/94723f&text=large-sponsor">
            </figure>
        </div>
        <div class="sponsor">
            <figure>
                <img src="//placehold.it/150x105/5a3805/94723f&text=small-sponsor"
                    data-m-src="//placehold.it/300x200/5a3805/94723f&text=medium-sponsor"
                    data-l-src="//placehold.it/400x250/5a3805/94723f&text=large-sponsor">
            </figure>
        </div>
        <div class="sponsor">
            <figure>
                <img src="//placehold.it/150x105/5a3805/94723f&text=small-sponsor"
                    data-m-src="//placehold.it/300x200/5a3805/94723f&text=medium-sponsor"
                    data-l-src="//placehold.it/400x250/5a3805/94723f&text=large-sponsor">
            </figure>
        </div>
    </section>