    <section class="masthead clearfix">
        <div class="callout">
            <p>HTML5.tx is a premium-grade conference for all things HTML, CSS and JavaScript. Our <a href="http://2011.html5tx.com">inaugural event</a> was held in Austin, in 2011 and the second edition is slated for Feb 2nd, 2013. Check out the <a href="https://vimeo.com/36094284">promo video</a> for a recap of last year's event, and to get a preview of what's in store for 2013.</p>
            <a href="http://html5tx.thundertix.com" class="button" target="_new">JOIN</a>
        </div>

        <div class="callout">
            <p><b>HTML5.TX</b></p>
            <p><b>February 02, 2013</b></p>
            <p><b>AUSTIN, TEXAS</b></p>
            <p>St. Edward's University, Ragsdale Center</p>
            <a href="mailto:sponsorship@html5tx.com" class="button">Sponsor</a>
        </div>
    </section>
    <!-- .masthead -->
    <!--<section class="mid clearfix">
        <div class="play-wrapper">
            <a class="play-button" href="#">&nbsp;</a> 
            <div class="play-cog"></div>
        </div>
    </section>-->
    <!-- .mid -->
    <section class="speakers">
        <div class="speaker-wrap hover">
            <figure>
                <img src="/assets/_img/s/estelle.png" 
                    data-m-src="/assets/_img/m/estelle.png" 
                    data-l-src="/assets/_img/l/estelle.png">
                <span class="static"></span>
            </figure>
            <span class="title">Estelle Weyl</span>
            <div class="big-cog"></div>
        </div>
        <div class="speaker-wrap">
            <!--<a href="http://www/twitter.com/miketaylr" title="Mike Taylor">-->
                <figure>
                
                    <img src="/assets/_img/s/miketaylor.png" 
                    data-m-src="/assets/_img/m/miketaylor.png" 
                    data-l-src="/assets/_img/l/miketaylor.png">
                <span class="static"></span>
                </figure>
            <!--</a>-->
            <span class="title">Mike Taylor</span>
            <div class="big-cog"></div>
        </div>
        <div class="speaker-wrap">
            <figure>
                <img src="/assets/_img/s/garann.png" 
                    data-m-src="/assets/_img/m/garann.png" 
                    data-l-src="/assets/_img/l/garann.png">
                <span class="static"></span>
            </figure>
            <span class="title">Garann Means</span>
            <div class="big-cog"></div>
        </div>
        <div class="speaker-wrap">
            <figure>
                <img src="/assets/_img/s/christopher.png" 
                    data-m-src="/assets/_img/m/christopher.png" 
                    data-l-src="/assets/_img/l/christopher.png">
                <span class="static"></span>
            </figure>
            <span class="title">Christopher Schmitt</span>
            <div class="big-cog"></div>
        </div>
    </section>
    <!-- .speakers -->
    <section class="sponsors">
        <div class="sponsor">
            <figure>
                <a href="http://www.kendoui.com" target="_new" title="Kendo UI">
                    <img src="/assets/_img/s/kendo-sponsor.png"
                    data-m-src="/assets/_img/m/kendo-sponsor.png"
                    data-l-src="/assets/_img/l/kendo-sponsor.png" title="Kendo UI" alt="Kendo UI Logo">
                </a>
            </figure>
        </div>
        <div class="sponsor">
            <a href="http://www.thundertix.com" target="_new" title="ThunderTix"><figure>
                
                    <img src="/assets/_img/s/TT-sponsor.png"
                    data-m-src="/assets/_img/m/TT-sponsor.png"
                    data-l-src="/assets/_img/l/TT-sponsor.png" title="ThunderTix" alt="ThunderTix Logo">
               
            </figure> </a>
        </div>
        <div class="sponsor">
            <figure>
                <img src="//placehold.it/150x105/5a3805/94723f&text=Your%20Brand%20Here!"
                    data-m-src="//placehold.it/300x200/5a3805/94723f&text=Your%20Brand%20Here!"
                    data-l-src="//placehold.it/400x267/5a3805/94723f&text=Your%20Brand%20Here!">
            </figure>
        </div>
        <div class="sponsor">
            <figure>
                <img src="//placehold.it/150x105/5a3805/94723f&text=Your%20Brand%20Here!"
                    data-m-src="//placehold.it/300x200/5a3805/94723f&text=Your%20Brand%20Here!"
                    data-l-src="//placehold.it/400x267/5a3805/94723f&text=Your%20Brand%20Here!">
            </figure>
        </div>
    </section>