<div class="intro group" role="main">
   <h2>Schedule</h2>
   <p>Check out the schedule below. Details are available for <a href="#saturday">the day of the conference</a>, <a href="#friday">the Friday before</a>, and <a href="#sunday">the Sunday after</a>.</p>
</div>
<h3><a id="saturday">Saturday, 2 February</a></h3>
<table class="schedule">
   <thead>
      <tr>
         <th style="width:8%">Time</th>
         <th id="ballroom-a" style="width:26%">Mabee Ballroom A</th>
         <th id="ballroom-b" style="width:26%">Mabee Ballroom B</th>
         <th id="auditorium" style="width:26%">Jones Auditorium</th>
         <th id="ballroom-c" style="width:14%">Mabee Ballroom C</th>
      </tr>
   </thead>
   <tfoot>
      <tr>
         <th style="width:8%">Time</th>
         <th style="width:26%">Mabee Ballroom A</th>
         <th style="width:26%">Mabee Ballroom B</th>
         <th style="width:26%">Jones Auditorium</th>
         <th style="width:14%">Mabee Ballroom C</th>
      </tr>
   </tfoot>
   <tbody>
      <tr>
         <th id="morning-1" scope="row">8:00 AM &ndash; 8:50 AM</th>
         <td></td>
         <td></td>
         <td><span class="talk">Welcome and Opening Circle</span></td>
         <td></td>
      </tr>
      <tr>
         <th id="morning-2" scope="row">9:00 AM &ndash; 9:40 AM</th>
         <td><span class="talk">Taking an Image Editor Offline</span> <span class="speaker">Bradley Meck</span></td>
         <td><span class="talk">Embedded JavaScript, HTML5 and the Internet of Things</span> <span class="speaker">Jesse Cravens</span></td>
         <td><span class="talk">Adaptive Images for Responsive Web Design</span> <span class="speaker">Christopher Schmitt</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="morning-3" scope="row">9:50 AM &ndash; 10:30 AM</th>
         <td><span class="talk">Defying Facebook: Creating High Performance Mobile Apps</span> <span class="speaker">Burke Holland</span></td>
         <td><span class="talk">DOM it, forgive, forget, embrace</span> <span class="speaker">Cody Lindley</span></td>
         <td><span class="talk">Backbone: 3 Ways</span> <span class="speaker">Pamela Fox</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="morning-4" scope="row">10:40 AM &ndash; 11:20 AM</th>
         <td><span class="talk">Building CSS Foundations</span> <span class="speaker">Jake Smith</span></td>
         <td><span class="talk">Managing a Large Front-End Project with Automated Build Tools</span> <span class="speaker">Kassandra Perch</span></td>
         <td><span class="talk">The New Rules of The Responsive Web</span> <span class="speaker">Matthew Carver</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="morning-5" scope="row">11:30 AM &ndash; 12:10 PM</th>
         <td><span class="talk">Browser Versions Are Dead</span> <span class="speaker">Kyle Simpson</span></td>
         <td></td>
         <td><span class="talk">You Got your MVC into my Components: Adding Bindings to Enyo</span> <span class="speaker">Ben Combee &amp; Cole Davis</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="midday" scope="row">12:10 PM &ndash; 1:00 PM</th>
         <td class="em" colspan="4">Lunch</td>
      </tr>
      <tr>
         <th id="afternoon-1" scope="row">1:00 PM &ndash; 1:40 PM</th>
         <td><span class="talk">Lighting Talks:<br />The Softer Side of HTML5</span> <span class="speaker">Tony Farnsworth, Anne Epstein, William Moner</span></td>
         <td></td>
         <td><span class="talk">Lighting Talks:<br />Sharpen Your HTML5 Saw</span> <span class="speaker">Austin Hallock, Aaron Murray, Ryan Joy</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="afternoon-2" scope="row">1:50 PM &ndash; 2:30 PM</th>
         <td><span class="talk">What is Future Friendly?</span> <span class="speaker">Joe McCann</span></td>
         <td><span class="talk">Web Application Architecture – Lessons Learned from Brackets</span> <span class="speaker">Brian Rinaldi</span></td>
         <td><span class="talk">10 things you didn't know a browser could do</span> <span class="speaker">Estelle Weyl</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="afternoon-3" scope="row">2:40 PM &ndash; 3:20 PM</th>
         <td><span class="talk">Front End Legos: Better Design with Reusable HTML &amp; CSS</span> <span class="speaker">Shay Howe</span></td>
         <td><span class="talk">Web Usability on a Budget</span> <span class="speaker">Tim G. Thomas</span></td>
         <td><span class="talk">HTML5 on TV</span> <span class="speaker">Mike Taylor</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="afternoon-4" scope="row">3:30 PM &ndash; 4:10 PM</th>
         <td><span class="talk">JavaScript and Windows Store Apps - In the Trenches</span> <span class="speaker">Jonathan Hebert</span></td>
         <td><span class="talk">Unfolding the Box Model</span> <span class="speaker">Chris Ruppel</span></td>
         <td><span class="talk">Model-View-Websockets</span> <span class="speaker">Garann Means</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="afternoon-5" scope="row">4:20 PM &ndash; 5:00 PM</th>
         <td><span class="talk">Rapid Templating: "Designing in the Browser" with Sass, Compass, and Serve</span> <span class="speaker">Nathan Smith</span></td>
         <td><span class="talk">What HTML5 Means for Web Accessibility</span> <span class="speaker">Kevin Lamping</span></td>
         <td><span class="talk">Prototyping in a Touch First World</span> <span class="speaker">Sara Summers</span></td>
         <td><span class="talk">Open Spaces</span></td>
      </tr>
      <tr>
         <th id="afternoon-6" scope="row">5:15 PM &ndash; 6:00 PM</th>
         <td></td>
         <td></td>
         <td><span class="talk">Closing Panel</span></td>
         <td></td>
      </tr>
      <tr>
         <th id="afternoon-6" scope="row">7:00 PM &ndash; 10:00 PM</th>
         <td colspan="4">
            <span class="talk capital-factory">Hacky Hour/Party</span>
            <span class="speaker">(Sponsored by and located at <a href="/pages/about#capital-factory">Capital Factory</a>)</span>
         </td>
      </tr>
   </tbody>
</table>
<div class="group" role="main">
   <section class="column" style="margin-right:4%">
      <h3><a id="friday">Friday, 1 February</a></h3>
      <table class="schedule">
         <thead>
            <tr>
               <th style="width:17%">Time</th>
               <th><a href="/pages/about#capital-factory">Capital Factory</a></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th>8:30 AM &ndash; 9:00 AM</th>
               <td>
                  <span class="talk">CSS Workshop Check-In</span>
                  <span class="speaker">(<a href="http://html5tx.thundertix.com/">Ticket Required</a>)</span>
               </td>
            </tr>
            <tr>
               <th>9:00 AM &ndash; 4:30 PM</th>
               <td>
                  <span class="talk">CSS Workshop</span>
                  <span class="speaker">Estelle Weyl (<a href="http://html5tx.thundertix.com/">Ticket Required</a>)</span>
               </td>
            </tr>
            <tr>
               <th>7:00 PM &ndash; 10:00 PM</th>
               <td>
                  <span class="talk">Pre-Event Social</span>
                  <span class="speaker">(Open to All Attendees)</span>
               </td>
            </tr>
         </tbody>
      </table>
   </section>
   <section class="column">
      <h3><a id="sunday">Sunday, 3 February</a></h3>
      <table class="schedule">
         <thead>
            <tr>
               <th>Time</th>
               <th><a href="/pages/about#capital-factory">Capital Factory</a></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">9:30 AM &ndash; 10:00 AM</th>
               <td>
                  <span class="talk">JavaScript Workshop Check-In</span>
                  <span class="speaker">(<a href="http://html5tx.thundertix.com/">Ticket Required</a>)</span>
               </td>
            </tr>
            <tr>
               <th scope="row">10:00 AM &ndash; 5:00 PM</th>
               <td>
                  <span class="talk">JavaScript Workshop</span>
                  <span class="speaker">Pamela Fox (<a href="http://html5tx.thundertix.com/">Ticket Required</a>)</span>
               </td>
            </tr>
         </tbody>
      </table>
   </section>
</div>
