<ol class="l-speakers">
   <!-- Featured Speakers -->
   <li class="featured">
      <a name="estelle" id="estelle"></a>
      <figure>
      <img src="/images/speakers/estelle.jpg" />
         <figcaption>
            <span class="name">Estelle Weyl</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>A dev consultant, Estelle Weyl has coded for Kodakgallery, Yahoo! and Apple. Estelle provides HTML5 and CSS3 tutorials and detailed grids of browser support in her blog at http://www.standardista.com. She is the co-author of HTML5 and CSS3 for the Real World (Sitepoint, May 2011) and the upcoming Mobile HTML5 (O’Reilly, October 2011). While not coding, she works in construction, de-hippifying her 1960′s throwback abode.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li class="featured">
      <a name="mike" id="mike"></a>
      <figure>
         <img src="/images/speakers/mike.jpg" />
         <figcaption>
            <span class="name">Mike Taylor</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p></p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li class="featured">
      <a name="garann" id="garann"></a>
      <figure>
         <img src="/images/speakers/garann.jpg" />
         <figcaption>
            <span class="name">Garann Means</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Garann is a Sr. Front-End Engineer at Etsy. She fell in love with HTML in the 90s, and CSS and JavaScript weren't far behind. She's the author of Node for Front-End Developers and the organizer of Austin All-Girl Hack Night and Girl Develop It Austin.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li class="featured">
      <a name="christopher" id="christopher"></a>
      <figure>
         <img src="/images/speakers/christopher.jpg" />
         <figcaption>
            <span class="name">Christopher Schmitt</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Christopher Schmitt is the founder of Heatvision.com, Inc., an Austin-based new media publishing and design firm, and co-founder of Environments for Humans, a leader in web and mobile conferences. An award-winning web designer who has been working in the medium for twenty years, Christopher interned for both David Siegel and Lynda Weinman as an undergraduate at Florida State University. He has a Masters in Communication for Interactive and New Communication Technologies, and is the author of over six books, including Designing Web & Mobile Graphics and CSS Cookbook.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <!-- Other Speakers -->
   <li>
      <figure>
         <img src="/images/speakers/matthew.jpg" />
         <figcaption>
            <span class="name">Matthew Carver</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Matthew Carver is a front-end developer and web designer as well as the author of "The Responsive Web" by Manning Publications. As an early adopter of responsive web practices, Matthew has unique insight and experience in the processes and design techniques required to bring a successful responsive website into fruition.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/jesse.jpg" />
         <figcaption>
            <span class="name">Jesse Cravens</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Jesse is a Sr. Engineer at frog where he works with the world’s leading companies, helping them to design, engineer, and bring to market meaningful products and services. He possesses a deep background in web application development, and has recently been focusing on single page web application architecture, the mobile web, HTML5, and Embedded JavaScript. His first book, 'HTML5 Hacks' is available through O'Reilly Media.</p>
         <!-- <p>He previously held senior software and technical management positions at USAA, leading a team of mobile application developers that included both domestic full time employees and offshore 3rd party contractors. He was responsible for providing technical leadership in the planning, designing, development, testing, implementation and maintenance of USAA's industry leading iPhone, Android, Blackberry, and mobile web applications for USAA's 8 million members worldwide."</p> -->
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/ben.jpg" />
         <figcaption>
            <span class="name">Ben Combee</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Ben Combee is the technical lead for the Enyo JS framework, a cross-platform web app framework built on technology from HP webOS.  He's been involved with mobile app development for over a decade, starting with the original PalmPilot series in 2000, and he's been working on developer tools since 1998 when he started as a compiler engineer at Metrowerks, makers of the legendary CodeWarrior IDE.  Ben lives in Austin, TX where he also enjoys making things with wood, plastic, metal, solder, and lasers.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/pamela.jpg" />
         <figcaption>
            <span class="name">Pamela Fox</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Pamela Fox loves to learn, teach, create, and every combination of those. During the day, she works as a frontend engineer at Coursera, working to improve the future of online education. At night and on the weekends, she teaches web development classes for the GirlDevelopIt San Francisco chapter.. Before that, she worked in Google Developer Relations, and graduated from USC's Computer Science Department (Go Trojans!).</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/jonathan.jpg" />
         <figcaption>
            <span class="name">Jonathan Hebert</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Johnathan Hebert is the lead JavaScript developer at Evernote in Austin, where he is currently working on Skitch for Windows 8 and other platforms.  He has been developing web applications for over 10 years, and is always interested in the latest and greatest with JavaScript, HTML and CSS.  You can see an endless stream of links he posts about the web and related technologies @johnathanhebert. Most importantly, he is a husband and proud father of 5 little miracles.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/burke.jpg" />
         <figcaption>
            <span class="name">Burke Holland</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Burke Holland is a web developer living in Nashville, TN with his wife and 3 boys.  He enjoys working with and meeting developers who are building mobile apps with jQuery / HTML5 and passes most of his free time by hacking on the Instagram API.  Burke works for Kendo UI as a Developer Advocate where he strives to help developers unlock their full creative potential in building the next generation of stunning web and mobile applications.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/shay.jpg" />
         <figcaption>
            <span class="name">Shay Howe</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>As a designer and front end developer, Shay Howe has a passion for solving problems while building creative and intuitive products. Currently working for the Starter League, Shay leads design and front end development initiatives in both the classroom and product development, making sure an enjoyable experience is had by all. Additionally, Shay helps co-organize Refresh Chicago and UX Happy Hour.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/kevin.jpg" />
         <figcaption>
            <span class="name">Kevin Lamping</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Kevin is a Front-end Web Developer born and raised in the Texas Hill Country. He's currently enjoying life in San Antonio with his wife and two-year old son.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/cody.jpg" />
         <figcaption>
            <span class="name">Cody Lindley</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Cody Lindley is a client-side engineer (aka front-end developer) and recovering Flash developer. He has an extensive background working professionally (11+ years) with HTML, CSS, JavaScript, Flash, and client-side performance techniques as it pertains to web development. If he is not wielding client-side code he is likely toying with interface/interaction design or authoring material and speaking at various conferences.</p>
         <!-- <p>When not sitting in front of a computer, it's a sure bet he is hanging out with his wife & kids in Boise, Idaho, training for triathlons, skiing, mountain biking, road biking, alpine climbing, reading, watching movies, or debating the rational evidence for a Christian worldview. Currently he is working for TandemSeven as a Principal Front-End Architect</p> -->
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/joe.jpg" />
         <figcaption>
            <span class="name">Joe McCann</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>McCann is the Mobile and Platform Architect for all of Product at Bazaarvoice, an Austin-based SaaS company enabling authentic conversations between brands and consumers through various channels.</p>
         <p>Prior to Bazaarvoice, Joe ran his own digital consultancy serving Fortune 500 companies in areas such as technical architecture to mobile application development and design. Joe is also a frog design alumnus.</p>
         <!-- <p>As Mobile and Platform Architect, Joe's current focus is on continuing to build the Mobile Department and the Bazaarvoice Platform as a Product initiative at Bazaarvoice (Nasdaq: BV), a company that operates at scale, clocking in more than 30 billion pageviews/month.</p>
         <p>Joe's experience in various industries is widespread: from music, to fashion, to Wall Street and even real estate. The perspective he brings to the mobile industry is quite unique.</p>
         <p>Joe advises a handful of startups and has spoken at conferences all over the world including SXSW, Dutch Mobile Conference (Amsterdam), Android Only (Stockholm), Morningstar Financial Developers Conference (Chicago) and many many more."</p> -->
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/brian.jpg" />
         <figcaption>
            <span class="name">Brian Rinaldi</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Brian Rinaldi is a Content and Community Manager for the Adobe Developer Center team, where he helps drive content strategy for HTML5, CSS, JavaScript and mobile content. Brian blogs regularly and is a unreformed twitter addict. He is a frequent author and speaker.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/chris.jpg" />
         <figcaption>
            <span class="name">Chris Ruppel</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Chris Ruppel is a frontend developer at Four Kitchens here in Austin, TX, where he is an active contributor to Drupal and other open source communities. When he’s not busy improving the web, Chris is out playing kickball, swimming, or getting a healthy dose of Austin’s live music.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/kyle.jpg" />
         <figcaption>
            <span class="name">Kyle Simpson</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Kyle Simpson is a JavaScript Systems Architect from Austin, TX. He focuses on JavaScript, HTML5, web performance optimization, and "middle-end" application architecture. If something can't be done in JavaScript or web stack technology, he's probably bored by it. Kyle runs several open-source projects, writes books, and speaks at meetups and tech conferences. He also helps drive the local startup/enterpreneurial community through events, coworking activities, etc.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
   <li>
      <figure>
         <img src="/images/speakers/nathan.jpg" />
         <figcaption>
            <span class="name">Nathan Smith</span>
            <!-- <span class="company"></span> -->
         </figcaption>
      </figure>
      <article>
         <p>Nathan Smith is a Principal UI Architect at projekt202. He began building sites late last century and enjoys hand coding HTML, CSS and JavaScript. Nathan created the 960 Grid System, a design and CSS framework for sketching, designing and coding page layouts. He also made Formalize, a JavaScript and CSS framework that brings sanity to form styling. Nathan was a co-author of the jQuery Cookbook, published by O'Reilly.</p>
         <!-- <p><a href="#"></a></p> -->
         <!-- <p>@<a href="#"></a></p> -->
      </article>
   </li>
</ol>
