<!--
Kendo UI
Microsoft
Adobe
Thundertix
Capital Factory
FourKitchens
Heroku
Luna Data
-->
<div class="intro group" role="main">
   <h2>Sponsors</h2>
   <p>An event like this wouldn't be possible without some killer sponsors. Look below to see who's supporting the future.</p>
</div>
<ol class="l-speakers sponsors">
   <!-- Featured Sponsors -->
   <li class="featured">
      <a name="kendoui" id="kendoui"></a>
      <figure>
         <img src="/images/sponsors/kendoui.png" />
         <figcaption>
            <span class="name">Kendo UI</span>
         </figcaption>
      </figure>
      <article>
         <p>Kendo UI is everything professional developers need to build HTML5 sites and mobile apps. Kendo UI has it all: rich jQuery-based widgets, a simple and consistent programming interface, a rock-solid DataSource, validation, internationalization, a MVVM framework, themes, templates and the list goes on.</p>
         <p><a href="http://www.kendoui.com/">kendoui.com</a></p>
      </article>
   </li>
   <li class="featured">
      <figure>
         <img src="/images/sponsors/microsoft.png" />
         <figcaption>
            <span class="name">Microsoft</span>
         </figcaption>
      </figure>
      <article>
         <p>At Microsoft, our mission and values are to help people and businesses throughout the world realize their full potential.</p>
         <p><a href="http://microsoft.com">microsoft.com</a></p>
      </article>
   </li>
   <li class="featured">
      <a name="adobe" id="adobe"></a>
      <figure>
         <img src="/images/sponsors/adobe.png" />
         <figcaption>
            <span class="name">Adobe</span>
         </figcaption>
      </figure>
      <article>
         <p>Adobe is the global leader in digital marketing and digital media solutions. Our tools and services enable our customers to create groundbreaking digital content, deploy it across media and devices, measure and optimize it over time, and achieve greater business success. We help our customers make, manage, measure and monetize their digital content across every channel and screen.</p>
         <p><a href="http://www.adobe.com/">adobe.com</a></p>
      </article>
   </li>
   <li class="featured">
      <figure>
         <img src="/images/sponsors/thundertix.png" />
         <figcaption>
            <span class="name">ThunderTix</span>
         </figcaption>
      </figure>
      <article>
         <p>ThunderTix gives you complete control over all aspects of ticketing, including the decision on whether to charge and collect fees.</p>
         <p><a href="http://thundertix.com">thundertix.com</a></p>
      </article>
   </li>
   <li class="featured">
      <a name="capital-factory" id="capital-factory"></a>
      <figure>
         <img src="/images/sponsors/capital-factory.png" />
         <figcaption>
            <span class="name">Capital Factory</span>
         </figcaption>
      </figure>
      <article>
         <p>Capital Factory is a seed stage mentoring program for startups that provides a small amount of seed capital and weekly mentoring sessions by entrepreneurs who have founded successful companies. Startup companies apply to participate in a 10-week summer program intended to get a startup pointed in the right direction with a clear path to profitability and growth.</p>
         <p><a href="http://capitalfactory.com">capitalfactory.com</a></p>
      </article>
   </li>
   <li class="featured">
      <a name="four-kitchens" id="four-kitchens"></a>
      <figure>
         <img src="/images/sponsors/four-kitchens.png" />
         <figcaption>
            <span class="name">Four Kitchens</span>
         </figcaption>
      </figure>
      <article>
         <p>Four Kitchens is not your typical web shop. We believe in setting knowledge free in everything we do by working with and contributing to open source technology. We not only do cool stuff on the web &ndash; we do cool stuff in real life, too.</p>
         <p><a href="http://wemakebigwebsites.com/">wemakebigwebsites.com</a></p>
      </article>
   </li>
   <!-- Other Sponsors -->
   <li class="featured">
      <figure>
         <img src="/images/sponsors/heroku.png" />
         <figcaption>
            <span class="name">Heroku</span>
         </figcaption>
      </figure>
      <article>
         <p>Heroku (pronounced her-OH-koo) is a cloud application platform – a new way of building and deploying web apps. Our service lets app developers spend 100% of their time on their application code, not managing servers, deployment, ongoing operations, or scaling.</p>
         <p><a href="http://www.heroku.com/">heroku.com</a></p>
      </article>
   </li>
   <li class="featured">
      <figure>
         <img src="/images/sponsors/luna-data.png" />
         <figcaption>
            <span class="name">Luna Data</span>
         </figcaption>
      </figure>
      <article>
         <p>Ranked as one of the top High-Tech recruiting firms, Luna Data Solutions Inc. is one of the fastest growing full spectrum recruiting firms in Austin, Texas. We specialize in the placement of technical and executive management professionals nationwide.</p>
         <p><a href="http://www.lunadatasolutions.com/">lunadatasolutions.com</a></p>
      </article>
   </li>
</ol>