<section class="inner clearfix">
   <div class="inner-content center">
      <h2>Thanks for your email!</h2>
      <p>We'll be in touch soon. If you've contacted us regarding a sponsorship, please email us at: <a href="mailto:sponsorship@html5tx.com">sponsorship@html5tx.com</a></p>
   </div>
</section>