/* Headings and Navigation */

/* More */

.l-featured {
   list-style-type: none;
   overflow: hidden;
}
   .l-featured li {
      display: block;
      float: left;
      margin-right: 4%;
      position: relative;
      width: 22%;
   }
      .l-featured li.last {
         margin-right: 0;
      }

   .l-featured .speaker {
      display: block;
      font: 0/0 a;
      height: 272px;
   }
      .l-featured .cog {
         position: absolute;
         bottom: -30px;
         left: 50%;
         margin-left: -74px;
         z-index: -10;

         -webkit-animation-play-state:paused;
         animation-play-state:paused;
      }
         .l-featured li:hover .cog {
            -webkit-animation: rotate 15s infinite;
            -webkit-animation-timing-function: linear;
            -webkit-animation-play-state:running;
            animation: rotate 15s infinite;
            animation-timing-function: linear;
            animation-play-state:running;
         }

   .l-featured .sponsor {
      line-height: 117px;
      text-align: center;
   }

   .l-featured.cogs {
      padding-bottom: 31px;
   }

.l-speakers {
   list-style-type: none;

   li {
      display: inline-block;
      padding: 30px 0 40px;
      vertical-align: top;
      width: 49%;

      &.featured {
         width: 100%;

         article { width: 760px; }
         p { font-size: 16px; }
      }

      &:first-child { padding-top: 0; }
   }

   img {
      height: 266px;
      width: 214px;
   }
}

.l-speakers figure {
   border: 3px solid #191919;
   float: left;
   height: 266px;
   position: relative;
   z-index: 10;
}

.l-speakers figcaption {
   background: #191919;
   padding: 10px 5px;
   width: 190px;
   position: absolute;
   bottom: -40px;
   right: -3px;
}

.l-speakers .name, .l-speakers .company {
   color: #fff;
   display: block;
   font-size: 12px;
   line-height: 20px;
   text-align: right;
}
.l-speakers .name {
   font-weight: 700;
   text-transform: uppercase;
}

.l-speakers article {
   background: #131313;
   color: #fff;
   
   float: left;
   padding: 20px 20px 20px 40px;;
   position: relative;
   left: -20px;
   top: 20px;
   width: 260px;

   p { font-size: 14px; }
}

.l-speakers.sponsors {
   figure {
      background-color: #5a3805;
      height: 123px;
   }

   img {
      height: 117px;
      width: 216px;
   }

   article { width: 258px; }

   li.featured {
      article { width: 758px; }
   }
}