<!doctype html>

<html lang="en">

<head>
   <meta charset="utf-8">
   <title>HTML5.tx 2013</title>
   <meta name="viewport" content="width=device-width">
   <meta name="keywords" content="html5, conference, texas, javascript, css, html">
   <meta name="description" content="Website for the HTML5.tx Conference, held annualy in Austin, TX">
   <%= stylesheet_link_tag "application", :media => "all" %>
   <link type="text/plain" rel="author" href="/humans.txt" />
   <script src="/js/html5shiv.js"></script>
</head>

<body class="<%= @on_home_page && "home" %>">
   <header class="group" role="banner">
      <h1>HTML5.tx 2013<span class="cog cog-m"></span></h1>
      <div class="eagle"></div>
      <a class="btn-join" href="#">Join</a>
      <nav class="l-navigation" role="navigation">
         <ul class="left">
            <li class="first"><a href="/">H<small>o</small>me</a></li>
            <li><a href="/pages/about">Ab<small>ou</small>t</a></li>
            <li class="last"><a href="/pages/speakers">Sp<small>ea</small>k<small>e</small>rs</a></li>
         </ul>
         <ul class="right">
            <li class="first"><a href="/pages/blog">N<small>e</small>ws</a></li>
            <li><a href="/pages/contact">C<small>o</small>nt<small>a</small>ct</a></li>
            <li class="last"><a href="http://2011.html5tx.com/videos">V<small>i</small>d<small>eo</small>s</a></li>
            <!-- <li class="last"><a href="http://2011.html5tx.com/">2011</a></li> -->
         </ul>
      </nav>
   </header>
   <div class="group" role="main">
      <%= yield %>
   </div>
   <!--<div class="group" role="main">
      <section class="column social">
         <a class="social-self" href="#">HTML5.tx 2013</a>
      </section>
      <section class="column social last">
         <a class="social-blog" href="#">Read the Blog</a>
         <span class="social-media">
            <a class="twitter" href="#">Twitter</a>
            <a class="facebook" href="#">Facebook</a>
         </span>
      </section>
   </div>-->
   <footer class="group">
      <nav>
         <ul>
            <li><a href="http://html5tx.thundertix.com/">Register</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/pages/about">About</a></li>
            <!--<li><a href="#">Speakers</a></li>-->
            <li><a href="/pages/blog">News</a></li>
            <li><a href="/pages/contact">Contact</a></li>
            <li><a href="http://2011.html5tx.com/videos">Videos</a></li>
            <li><a href="mailto:sponsorship@html5tx.com">Sponsorship</a></li>
         </ul>
      </nav>
      <ul>
         <li><span class="text">Copyright 2012 HTML5.tx</span></li>
         <li><hr /></li>
         <li><a href="http://driftingcreatives.com/">Design: Drifting Creatives</a></li>
      </ul>
   </footer>
   
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2061518-5']);
      _gaq.push(['_setDomainName', 'html5tx.com']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
</body>

</html>